A synthesied data set in relation to the suicide death rates of males and females within Ireland from the year 2008 to 2018.  This data set will have four different variables including: year, gender, suicide rate and mean death rate. It is important to note the data generated in not factually correct and is randomly generated, however the data randomly generated will be between 300 and 550 for male suicide rates and between 50 and 150 for females suicide rates as these values are similar to actual death suicide rates in Ireland. 

Please see link below showing the actual suicde death rates recorded in Ireland over the last 18 years:
(https://data.gov.ie/dataset/suicide-death-rates-by-year-sex-and-statistic/resource/50013e7a-ec8d-4676-b966-77ba22a23a56

Therefore each time the script is run, different results will be produced.

In [2]:
import numpy as np

np.random.normal(4)

4.3676786637955285

In [3]:
#The x values will represent the year. In the datasets generated below, the last 10 years are being recorded as x values.
#The x values will remain the same through out the dataset.
x = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

In [33]:

# generate random integer values
#https://machinelearningmastery.com/how-to-generate-random-numbers-in-python/

# generate some integers
y = randint(300, 500, 10)
print(y)

[352 498 302 376 449 307 377 375 376 343]

In [40]:
male = (x, y)

In [38]:
PrintTable(data, column_captions, column_widths, text_aligns).print()

NameError: name 'PrintTable' is not defined

In [39]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [41]:
from pydataset import data
male = data('male')
show()

ModuleNotFoundError: No module named 'pydataset'

In [42]:
import pandas as pd

In [44]:
display(x)

[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]