A synthesied data set in relation to the suicide death rates of males and females within Ireland from the year 2008 to 2018.  This data set will 100 point of data which will have five different variables including: year, gender, suicide rate, age, county. It is important to note the data generated in not factually correct and is randomly generated. Random numbers will be randomly generated between 300 and 550 for male suicide rates and between 50 and 150 for females suicide rates for the years between 2008-2018.These values are similar to actual death suicide rates in Ireland.

Please see link below showing the actual suicde death rates recorded in Ireland over the last 18 years:
(https://data.gov.ie/dataset/suicide-death-rates-by-year-sex-and-statistic/resource/50013e7a-ec8d-4676-b966-77ba22a23a56

Therefore each time the script is run, different results will be produced.

In [2]:
#import numpy as np
import numpy as np

#import pandas as pd
import pandas as pd

In [11]:
from numpy.random import randint
# generate random integer values
#https://machinelearningmastery.com/how-to-generate-random-numbers-in-python/

#The x values will represent the year. In the datasets generated below, the last 10 years are being recorded as x values.
#The x values will remain the same through out the dataset.
a = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
resultsyear= random.choice(a)
print(resultsyear)

2013

In [4]:
# generate ten random numbers to represent the male suicide rate in Ireland for each year from 2008 to 2018.
b = randint(300, 500, 10)
print(b)

[350 358 392 471 365 376 314 444 385 422]

In [5]:
# generate 10 random to represent the male suicide rate in Ireland for each year from 2008 to 2018.
c = randint(50, 150, 100)
print(c)

[ 65 142 117 135 104  61 144  57  57  89 123 118 132 121  82 113  85 112
 113 113  97 113  80 132  98 104  98 126  62 147 144  55  94 127  60  95
  60 117 148  50 125 101 124 103 112  97  77  80 112 140  53  65 136  63
 102  73  96  80  76 123 149 133 135 135 105 133 122 139  84  94  60 109
 127  56  86 138 141 114  86 133  92  78  54 115  78  87 139  59 143 144
 139  99 138  87 135 131 149  53  56 147]

In [6]:
age = randint(15, 75, 100)
print(age)

[37 61 50 51 44 27 42 45 43 30 34 22 74 74 26 71 19 55 50 48 26 48 56 61 61
 49 17 67 62 64 67 47 35 16 21 30 21 41 64 42 25 50 45 33 27 34 69 30 71 25
 26 52 73 35 15 40 22 43 61 44 48 43 21 22 61 27 28 58 67 36 22 34 44 31 21
 59 27 24 32 43 44 69 28 69 60 22 71 73 33 62 55 67 22 50 24 63 20 41 21 29]

In [7]:
county = ['Carlow', 'Cavan', 'Clare', 'Cork', 'Donegal','Dublin','Galway', 'Kerry', 'Kildare', 'Kilkenny', 'Laois', 'Leitrim', 'Limerick', 'Longford', 'Louth', 'Mayo', 'Meath', 'Monaghan', 'Offaly', 'Roscommon', 'Sligo', 'Tipperary', 'Waterford', 'Westmeath', 'Wexford', 'Wicklow']
resultscounty= random.choice(county)
print(resultscounty)

NameError: name 'random' is not defined

In [8]:
import random 
gender = ['male', 'female']
results = random.choice(gender)
print(results)

male

In [19]:
counter=0

gender = ['male', 'female']
county = ['Carlow', 'Cavan', 'Clare', 'Cork', 'Donegal','Dublin','Galway', 'Kerry', 'Kildare', 'Kilkenny', 'Laois', 'Leitrim', 'Limerick', 'Longford', 'Louth', 'Mayo', 'Meath', 'Monaghan', 'Offaly', 'Roscommon', 'Sligo', 'Tipperary', 'Waterford', 'Westmeath', 'Wexford', 'Wicklow']
a = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

while counter < 100:
    results = random.choice(gender)
    resultscounty= random.choice(county)
    resultsyear= random.choice(a)
    age = randint(15, 75, 1)
    counter += 1
    print(results,resultscounty,age,resultsyear)

female Longford [15] 2008
male Dublin [59] 2010
female Limerick [50] 2011
female Leitrim [22] 2010
male Clare [29] 2010
female Tipperary [64] 2017
female Kildare [49] 2011
female Cork [49] 2010
male Waterford [70] 2010
male Leitrim [24] 2015
female Cavan [37] 2008
male Dublin [36] 2008
female Donegal [18] 2015
female Monaghan [36] 2013
male Carlow [40] 2014
male Louth [71] 2013
female Sligo [21] 2015
male Carlow [51] 2018
male Clare [16] 2010
male Dublin [29] 2011
female Wicklow [69] 2013
female Offaly [54] 2010
male Clare [59] 2011
female Limerick [61] 2008
female Kildare [37] 2016
male Mayo [38] 2011
male Cavan [22] 2018
female Westmeath [19] 2017
female Kerry [62] 2018
female Cavan [29] 2008
male Kilkenny [53] 2013
female Roscommon [31] 2014
female Dublin [37] 2018
female Clare [21] 2016
female Kildare [49] 2008
female Kerry [49] 2015
female Wicklow [58] 2018
male Carlow [72] 2017
female Longford [60] 2016
female Meath [69] 2014
female Carlow [72] 2018
male Longford [47] 2015
male Cavan [26] 2008
female Donegal [48] 2010
female Mayo [51] 2016
male Tipperary [68] 2008
male Limerick [32] 2008
female Longford [55] 2018
female Kerry [24] 2014
male Mayo [32] 2018
female Carlow [61] 2008
male Cavan [69] 2017
female Galway [49] 2013
female Offaly [43] 2011
female Wicklow [20] 2018
male Roscommon [74] 2011
female Kildare [50] 2008
female Galway [60] 2014
male Kilkenny [69] 2017
female Mayo [16] 2011
female Tipperary [26] 2008
male Westmeath [69] 2017
female Cork [15] 2011
female Leitrim [23] 2014
male Limerick [29] 2011
male Monaghan [39] 2013
female Dublin [46] 2012
female Laois [65] 2018
male Waterford [25] 2012
female Sligo [23] 2008
female Wexford [33] 2017
female Kilkenny [20] 2013
female Leitrim [45] 2018
male Dublin [58] 2009
female Leitrim [55] 2017
female Leitrim [52] 2012
female Louth [33] 2009
male Kerry [46] 2014
female Donegal [68] 2018
female Wexford [17] 2013
male Offaly [67] 2011
male Kerry [37] 2013
male Westmeath [63] 2012
male Meath [54] 2012
male Louth [66] 2016
male Cavan [36] 2011
female Offaly [73] 2012
female Cavan [49] 2016
female Cork [64] 2016
male Carlow [48] 2012
female Kilkenny [44] 2008
female Monaghan [73] 2014
male Louth [54] 2012
male Offaly [72] 2009
male Galway [70] 2018
female Donegal [60] 2012
male Cork [25] 2017
male Sligo [30] 2011
female Donegal [67] 2011
female Cork [46] 2016

In [ ]:
from random import choice

class Person:
  genders = ('Male', 'Female', 'Female')
  def __init__(self, name):
      self.name = name
      self.gender = choice(Person.genders, 100)
        print

In [ ]:
suicide_data = {[age], [county],[gender]}
df = pd.dataframe(suicide_data)
df

In [ ]:
import pandas as pd

data = (b, c, age)
pd.DataFrame(data, columns=["Foo", "Bar"])

In [ ]:
import pandas as pd
data = {'year':['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018'],'Age':[randint(15,70,100)]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

In [ ]:
#print the years used as the x values
a

In [ ]:
b

In [ ]:
PrintTable(data, column_captions, column_widths, text_aligns).print()

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
from pydataset import data
male = data('male')
show()

In [ ]:
import pandas as pd

In [ ]:
# Plot the best fit line.
import matplotlib.pyplot as plt

plt.plot(a, b, 'k.', label='Original data')
plt.legend()
plt.show()

In [ ]:
import numpy as np
import pandas as pd

categories=('male','female')

data = {
            'suicide deaths':      np.random.randint(300,500, size=100), 
            'category':  np.random.choice(categories, 100),
            'year':     (2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018)
       }

df = pd.DataFrame(data)
print(df)

In [ ]:
x = a
y = b

x
y

In [ ]:
# First calculate the average suicide rate of males in Ireland from the years 2008 to 2018.
b_avg = np.mean(b)

In [ ]:
#print average yearly suicide rate of males in Ireland
b_avg

In [ ]:
# First calculate the average suicide rate of females in Ireland from the years 2008 to 2018.
c_avg = np.mean(c)

#print average yearly suicide rate of females in Ireland
c_avg

In [ ]:
import pandas as pd
data = {'year':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print df

# References:

https://www.youtube.com/watch?v=KzqSDvzOFNA
https://data.gov.ie/dataset/suicide-death-rates-by-year-sex-and-statistic/resource/50013e7a-ec8d-4676-b966-77ba22a23a56
https://stackoverflow.com/questions/43991548/when-defining-a-python-class-how-to-set-a-random-variable-in-it
https://www.irishtimes.com/news/social-affairs/men-account-for-almost-80-of-suicides-recorded-in-state-1.3235494